<!DOCTYPE html>
<html>

<head>
    <title>Gestion de Pautas - Agregar Pauta </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Sytlesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <!--Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d82979872c.js" crossorigin="anonymous"></script>
    <!-- Font Google 1 Squada One -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <section id="title">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">MainteanceWebPro - Admin </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/administrador">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestionar
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/admin-pautas-menu">Pautas</a></li>
                                <li><a class="dropdown-item" href="/admin-usuarios-menu">Usuarios</a></li>
                                <li><a class="dropdown-item" href="/admin-equipos-menu">Equipos</a></li>
                                <li><a class="dropdown-item" href="/admin-empresas-menu">Empresas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Cerrar Sesion</a>
                            <!-- Ademas se debe ejecutar el metodo para desconectar la sesion-->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Gestion Pauta - Section -->
    <br>
    <section id="agregar-pauta">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 top-pauta-info-add">
                    <h3>Editar Pauta Mantencion</h3>
                </div>
                <div class="col-12">
                    <div class=white-box-transparent>
                        <div class="form-top-test">
                            <div class="container-fluid">
                                <form action="/edit-exist-pauta-admin" method="post">
                                    <div class="form-row">
                                        <!-- Nombre pauta -->
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="nombre"> Nombre </label>
                                                <input name=nombre_pauta type="text" class="form-control" id="pauta-nombre">
                                            </div>
                                        </div>
                                        <!-- Equipo pauta -->
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="Equipo"> Equipo </label>
                                                <select name="equipo_pauta" class="form-control" type="text" id="pauta-equipo">
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Tipo de periodicidad pauta -->
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="tipo-periodo"> Tipo de Periodicidad </label>
                                                <select name="tipo_periodicidad_pauta" class="form-control" type="text" id="pauta-tipo-periodo">
                                                    <option>Diaria</option>
                                                    <option>Semanal</option>
                                                    <option>Mensual</option>
                                                    <option>Trimestral</option>
                                                    <option>Anual</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Cantidad Periodo Pauta -->
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="cantidad-periodo"> Cantidad Periodo </label>
                                                <input name="cantidad_periodo_pauta" type="text" class="form-control" id="pauta-cantidad-periodo">
                                            </div>
                                        </div>
                                        <!-- Empresa pauta -->
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="empresa"> Empresa </label>
                                                <select name="empresa_pauta" class="form-control" type="text" id="pauta-empresa">

                                                </select>
                                            </div>
                                        </div>
                                        <!-- Tipo de clase pauta -->
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="nombre"> Clase </label>
                                                <input name=clase_pauta type="text" class="form-control" id="pauta-clase">
                                            </div>
                                        </div>
                                        <!-- hidden -->
                                        <input type="hidden" id=items-info name=itemsInfo>
                                        <input type="hidden" id=idPautaToEdit name=codigoPautaEditada>
                                        <input type="hidden" id=pauta-version name=version_pauta>

                                        <!-- Tabla de items -->
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-light table-bordered table-hover table-striped">
                                                    <thead class="bg-dark text-white">
                                                        <tr>
                                                            <th scope="col">Item</th>
                                                            <th scope="col">Cantidad Subitems</th>
                                                            <th scope="col">Editar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbody-tabla-items">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- Boton submit -->
                                        <div class="col-12">
                                            <button type="submit" id="add-pauta-button-popup" class="btn btn-primary">
                                                <i class="far fa-save"></i>
                                                Guardar Cambios Pauta 
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal que es una ventanita para agregar un item-->
        <div class="bg-modal">
            <div class="modal-content">
                <div class="row">
                    <!-- Titulo de la ventana -->
                    <div class="col-12">
                        <h3>
                            <div id="text-action-title-popup">
                                Agregar item
                            </div>
                        </h3>
                    </div>
                    <!-- input del Item -->
                    <div class="col-12">
                        <div class="row">
                            <!-- Input Nombre-Item -->
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Item</span>
                                    <input id="item-add-modal" type="text" class="form-control" placeholder="Nombre Item" aria-label="Nombre Item" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <!-- Boton agregar item. -->
                            <div class="col-12">
                                <button onclick="addItemInModal();" type="button" class="btn btn-primary">
                                    <i class="fas fa-plus"></i>
                                    Agregar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div onclick="closeWindowAddItem();" class="close">+</div>
            </div>
        </div>

        <!-- Modal editar item  -->
        <div class="bg-modal2">
            <div class="modal-content2">
                <div class="row">
                    <div class="col-12">
                        <h3>
                            <div id="text-action-title-popup">
                                Editar Item
                            </div>
                        </h3>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <!-- Nombre del Item  -->
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Item</span>
                                    <input id="item-window-edit" type="text" class="form-control" placeholder="Nombre Item" aria-label="Nombre Item" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <!-- tabla de subitems -->
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <table class="table table-light table-bordered table-hover table-striped">
                                        <thead class="bg-dark text-white">
                                            <tr>
                                                <th scope="col">Subitem</th>
                                                <th scope="col">Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-tabla-subitems-items">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Guardar cambios item -->
                            <div class="col-6">
                                <button onclick="saveItemEdit();" type="button" class="btn btn-primary">
                                    <i class="far fa-save"></i>
                                    Guardar Cambios
                                </button>
                            </div>
                            <!-- Eliminar Item -->
                            <div class="col-6">
                                <button onclick="delItemEdit();" type="button" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div onclick="closeWindowEditItem();" class="close2">+</div>
            </div>
        </div>

        <!-- Modal que es una ventanita para agrgar el subitem -->
        <div class="bg-modal3">
            <div class="modal-content3">
                <div class="row">
                    <div class="col-12">
                        <h3>
                            <div id="text-action-title-popup">
                                Agregar Subitem
                            </div>
                        </h3>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Subitem</span>
                                    <input id="subitem-item-add-modal3" type="text" class="form-control" placeholder="Nombre Item" aria-label="Nombre Item" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <button onclick="addSubItem();" type="button" class="btn btn-primary">
                                    <i class="fas fa-plus"></i>
                                    Agregar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div onclick="closeAddSubitemWindow();" class="close3">+</div>
                </div>
            </div>
        </div>


        <!-- Script -->
        <script>
            //Cargando equipos
            const equipos = <%- JSON.stringify(equipos) %>;
            let selectAddEquipo = document.getElementById('pauta-equipo');
            for (let i = 0; i < equipos.length; i++) {
                const cod = equipos[i].codigo;
                const name = equipos[i].nombre;
                let option = document.createElement("option");
                option.text = cod;
                selectAddEquipo.add(option);
            }
            //Cargando empresas
            const empresas = <%- JSON.stringify(empresas) %>;
            let selectAddEmpresa = document.getElementById("pauta-empresa"); //Agregar select 
            for (let i = 0; i < empresas.length; i++) {
                const cod_empre = empresas[i].codigo;
                const name_empre = empresas[i].nombre;
                let option = document.createElement("option");
                option.text = cod_empre;
                selectAddEmpresa.add(option);
            }
            //No tocar la parte de arriba.
            let pauta = <%- JSON.stringify(pauta) %>;
            //console.log("Pauta", pauta)
            document.getElementById('idPautaToEdit').value = pauta.codigo_pauta
            document.getElementById('pauta-version').value = pauta.version_pauta;
            //Rellena los valores del los input
            document.getElementById("pauta-nombre").value = pauta.nombre_pauta; //Nombre
            //Id equipo. (Tiene que ser select)
            document.getElementById("pauta-equipo").value = pauta.codigo_equipo_pauta;
            //Tipo de periodo (Tiene que ser select)
            document.getElementById("pauta-tipo-periodo").value = pauta.tperiodo;

            document.getElementById("pauta-cantidad-periodo").value = pauta.cperiodo;
            //Id Empresa (Tiene que ser select)
            document.getElementById("pauta-empresa").value = pauta.codigo_empresa_pauta;
            document.getElementById('pauta-clase').value = pauta.clase_pauta
                //Luego rellenar lista de items y subitems.

            //Al inicio


            function cargarTablaItems() {
                //console.log(itemSubitems)
                //Obten tbody-items reference
                const tbodyItems = document.getElementById('tbody-tabla-items');
                tbodyItems.innerHTML = ""
                    //Luego por cada item dentro de la lista dataPautaItems, rellena la tabla .
                for (let i = 0; i < dataPautaItems.length; i++) {
                    const newRowRef = tbodyItems.insertRow(); //Crea una nueva fila al final
                    const celItemRef = newRowRef.insertCell(-1); //Genera la columna.
                    const cantSItemRef = newRowRef.insertCell(-1); //Genera la columna.
                    const editItemRef = newRowRef.insertCell(-1); //Genera la columna.
                    //Rellena cada celda
                    celItemRef.textContent = dataPautaItems[i].item;
                    cantSItemRef.textContent = dataPautaItems[i].cantSubItem;
                    editItemRef.innerHTML = '<button type="button"  id=button-edit-' + i +
                        ' onClick="openWindowEditItem(this.id);" class="btn btn-primary pull-right"><i class="fas fa-edit"></i> Editar</button>';
                }
                //Genera una fila y agrega el boton agregar item.
                const newRowRef = tbodyItems.insertRow(); //Crea una nueva fila al final
                const addButtonInNewRowRef = newRowRef.insertCell(-1); //Genera la columna.
                addButtonInNewRowRef.innerHTML =
                    '<button onclick="openWindowAddItem();"id=add-item-new-pauta-intable type="button" class="btn btn-primary"><i class="fas fa-plus"></i>Agregar Item</button>';
                document.getElementById('items-info').value = JSON.stringify(dataPautaItems)
            }
            let dataPautaItems = <%- JSON.stringify(dataPautaItems) %>; //Define como [] los items de la pauta
            let itemEditado = -1; //El item que se edita es igual  -1 PORQUE no se edita ninguno
            let auxSubItems = [] //El auxSubitems se define como [] al inicio porque no se pueden agregar subitems aun.
            cargarTablaItems(); //Actualiza la tabla de items.

            //Actualiza la tabla de subitem de un item seleccionado.
            function cargarTablaSubitems() {
                const tbodySubitems = document.getElementById('tbody-tabla-subitems-items');
                tbodySubitems.innerHTML = "";
                for (let i = 0; i < auxSubItems.length; i++) { //Por cada subitem
                    const newRowRef = tbodySubitems.insertRow(); //Genera una nueva fila
                    const celSubItem = newRowRef.insertCell(-
                        1); //Genera una columna para la fila que corresponde al nombre del subitem
                    const celDelSubitem = newRowRef.insertCell(-
                        1); //Genera una nueva columna para la fila que corresponde al boton eliminar del subitem
                    //Rellena los datos.
                    celSubItem.textContent = auxSubItems[i];
                    celDelSubitem.innerHTML = '<button onclick="delSubItem(this.id);" id=buttonDelSubItem-' + i +
                        ' type="button" class="btn btn-danger"> <i class="fas fa-trash-alt"></i></button>'
                }
                const newRowRef = tbodySubitems.insertRow();
                const addButtonSubitemInNewRowRef = newRowRef.insertCell();
                addButtonSubitemInNewRowRef.innerHTML =
                    '<button id=add-subitem-new-pauta-intable onclick="openAddSubitemWindow();" type="button"class="btn btn-primary"><i class="fas fa-plus"></i></button>'

            }

            //al hacer click en el boton agregar 
            function addSubItem() {
                const val = document.getElementById('subitem-item-add-modal3').value;
                if (val != "") {
                    auxSubItems[auxSubItems.length] = val;
                }
                document.querySelector('.bg-modal3').style.display = "none";
                document.getElementById('subitem-item-add-modal3').value = ""; //Vacia el input
                cargarTablaSubitems()
            }

            //Al hacer click el el basurero del agun subitem en modal3 
            function delSubItem(stringID) {
                const i = stringID.split('-')[1];
                auxSubItems.splice(i, 1);
                cargarTablaSubitems()
            }

            //Al presionar el boton "+" en editar item (modal2), abre la ventana addSubitem.
            function openAddSubitemWindow() {
                document.querySelector('.bg-modal3').style.display = "flex";
            }

            //Al presionar la "x" en windowAddSubitem
            function closeAddSubitemWindow() {
                document.querySelector('.bg-modal3').style.display = "none";
                document.getElementById('subitem-item-add-modal3').value = ""; //Vacia el input
            }

            //Al presionar el i-esimo boton editar de la tabla.
            function openWindowEditItem(auxID) {
                const iItem = auxID.split("-")[2] //Almacena cual i-esimo item se esta editando.
                itemEditado = iItem; //Informa cual i-esimo item se editara
                auxSubItems = JSON.parse(JSON.stringify(dataPautaItems[itemEditado].subitems));
                //Rellena el modal.
                cargarTablaSubitems()
                document.getElementById('item-window-edit').value = dataPautaItems[itemEditado]
                    .item; //Rellena el campo con el nombre del item.
                document.querySelector('.bg-modal2').style.display = "flex"; //Activa el modal2 (ventana editar item.)
            }
            //Al presionar guardar cambios en la ventana editar item.
            function saveItemEdit() {
                //Actualiza los valores el iesimo-item editado
                const itemValue = document.getElementById('item-window-edit').value;
                if (itemValue != "") { //Si se ingreso un valor.
                    dataPautaItems[itemEditado].item = itemValue;
                }
                dataPautaItems[itemEditado].subitems = JSON.parse(JSON.stringify(auxSubItems));
                dataPautaItems[itemEditado].cantSubItem = auxSubItems.length;
                //Vacia el modal.
                itemEditado = -1; //Setea en default el itemEditado
                auxSubItems = [] //Setea en default el auxSubitems
                document.getElementById('item-window-edit').value = ""; //Vacia el valor de la ventana
                document.querySelector('.bg-modal2').style.display = "none"; //Cierra la ventana una vez hecho todo
                cargarTablaItems(); //Actualiza la tabla de items
            }

            //Al presionar el el basurero en la ventana Editar Item, 
            function delItemEdit() {
                dataPautaItems.splice(itemEditado, 1); //Elimina el elemento de dataPautaItems
                itemEditado = -1; //Setea en default el itemEditado
                auxSubItems = [] //Setea en default el auxSubitems
                document.getElementById('item-window-edit').value = ""; //Vacia el valor de la ventana
                document.querySelector('.bg-modal2').style.display = "none"; //Cierra la ventana una vez hecho todo
                cargarTablaItems(); //Actualiza la tabla de items
            }
            //Cerrar Ventana Editar Item, cierra modal2
            function closeWindowEditItem() {
                itemEditado = -1; //Setea en default el itemEditado
                auxSubItems = [] //Setea en default el auxSubitems
                document.getElementById('item-window-edit').value = ""; //Vacia el valor de la ventana
                document.querySelector('.bg-modal2').style.display = "none";
                cargarTablaItems(); //Actualiza la tabla de items
            }




            //Al presionar el boton agregar item, abre el modal
            function openWindowAddItem() {
                document.querySelector(".bg-modal").style.display = 'flex';
            }
            //Al presionar el boton agregar item en el modal actualiza el dataPautaItems, cierra el modal y actualiza la tabla de items
            function addItemInModal() {
                const newItemInModalRef = document.getElementById('item-add-modal');
                if (newItemInModalRef.value != "") {
                    dataPautaItems[dataPautaItems.length] = {
                        "item": newItemInModalRef.value,
                        "cantSubItem": 0,
                        "subitems": []
                    }
                }
                newItemInModalRef.value = ""; //Vacia el input
                document.querySelector(".bg-modal").style.display = 'none'; //Deja de mostrar el panel.
                cargarTablaItems(); //Actualiza la tabla de items
            }
            //Cerrar Ventana Agregar Item, cierra modal
            function closeWindowAddItem() {
                document.getElementById("item-add-modal").value = "";
                document.querySelector(".bg-modal").style.display = 'none';
            }
        </script>
    </section>

</body>

</html>