<!DOCTYPE html>
<html>

<head>
    <title>Gestion de Empresas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Sytlesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <!--Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d82979872c.js" crossorigin="anonymous"></script>
    <!-- Font Google 1 Squada One -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <section id="title">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">MainteanceWebPro - Admin </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/administrador">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestionar
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/admin-pautas-menu">Pautas</a></li>
                                <li><a class="dropdown-item" href="/admin-usuarios-menu">Usuarios</a></li>
                                <li><a class="dropdown-item" href="/admin-equipos-menu">Equipos</a></li>
                                <li><a class="dropdown-item" href="/admin-empresas-menu">Empresas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Cerrar Sesion</a>
                            <!-- Ademas se debe ejecutar el metodo para desconectar la sesion-->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Gestion Empresas - Section -->
    <br>
    <section id="gestion-empresas">
        <div class="container-fluid">
            <div class="row">
                <!-- Titulo  -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="top-pauta-info">
                        <h3>Empresas</h3>
                    </div>
                </div>
                <!-- Boton Agregar Nueva Pauta -->
                <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                    <div class="top-pauta-info">
                        <button id="add-new-empresa-button" type="button" class="btn btn-primary">
                            <i class="fas fa-plus"></i>
                            Agregar Nueva Empresa
                        </button>
                    </div>
                </div>
                <!-- Tabla de Empresas -->
                <div class="col-12">
                    <div class="container-fluid">
                        <div class="row white-box-transparent">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="tabla-empresas" class="table table-light table-bordered table-hover table-striped">
                                        <thead class="bg-dark text-white">
                                            <th scope="row">Editar</th>
                                            <th scope="row">Codigo</th>
                                            <th scope="row">Nombre</th>
                                            <th scope="row">Activa</th>
                                        </thead>
                                        <tbody id="tbody-tabla-empresas">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12 pagination-empresas-admin-nav">
                                <nav aria-label="empresas-nav-pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item"><a class="page-link" href="#"> <-- </a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#"> --> </a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ventana oculta (pop up) que nos permite agregar una nueva empresa -->
    <div class="bg-modal2">
        <div class="modal-content2">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <div id="text-action-title-popup">
                            Agregar Nueva Empresa
                        </div>
                    </h3>
                </div>
                <div class="col-12">
                    <form action="/add-new-empresa-admin" method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Codigo Empresa</span>
                                    <input id=cod_empresa_input_popup  name="code_new_empresa" type="text" class="form-control" placeholder="Codigo Empresa"
                                        aria-label="cod_empre_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Nombre Empresa</span>
                                    <input id=name_empresa_input_popup name="name_new_empresa" type="text" class="form-control" placeholder="Nombre Empresa"
                                        aria-label="nombre_empre_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Activa</span>
                                    <select id=activa_empresa_input_popup name="estado_activacion_new_empresa" class="form-select" aria-label="Estado Activacion">
                                        <option value= 0>Si</option>
                                        <option value="1">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" id="add-empresa-button-popup" class="btn btn-primary">
                                <div id="contentButton-addEmpresa-popup">
                                    <i class="fas fa-plus"></i>
                                    Agregar Empresa
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="close2">+</div>
        </div>
    </div>

    <!-- ventana oculta (pop up) que nos permite editar una empresa -->
    <div class="bg-modal">
        <div class="modal-content2">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <div id="text-action-title-popup">
                            Editar Empresa
                        </div>
                    </h3>
                </div>
                <div class="col-12">
                    <form action="/editar-empresa-admin" method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Codigo Empresa</span>
                                    <input id="edit_cod_empresa_input_popup" name="code_edit_empresa" type="text" class="form-control" placeholder="Codigo Empresa"
                                        aria-label="cod_empre_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Nombre Empresa</span>
                                    <input id="edit_name_empresa_input_popup" name="name_edit_empresa" type="text" class="form-control" placeholder="Nombre Empresa"
                                        aria-label="nombre_empre_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Activa</span>
                                    <select id=edit_activa_empresa_input_popup name="estado_activacion_edit_empresa" class="form-select" aria-label="Estado Activacion">
                                        <option value=0 >Si</option>
                                        <option value=1 >No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" id="adit-empresa-button" class="btn btn-primary">
                                <div id="contentButton-addEmpresa-popup">
                                    <i class="far fa-save"></i> 
                                    Guardar Cambios
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="close">+</div>
        </div>
    </div>



    <script>
        /* 
            Para esta pagina solo falta agregar las funciones a los botones de 
            Anterior y siguiente para ir moviendose dentro del 
        
        
        */



        
        /* 
            Ojito al ejecutar o al completar el formulario y se dio a agregar, se enviara el formulario 
            mediante POST al servidor de express, este retornara la nueva pagina con la nueva cantidad de elementos.
        */


        //Al cargar el documento se rellenara la tabla empresas con la siguiente funcion. ? Que debe recibir un json.
        function FillPageTableWithJSON(dataPage ) {
            let tBodyEmpresa = document.getElementById("tbody-tabla-empresas"); //Obten la tabla
            //console.log(dataPage);
            for(let i = 0; i<dataPage.length; i++){
                const cod_empre = dataPage[i].codigo;
                const name_empre = dataPage[i].nombre;
                //Inserta una nueva fila en la tabla 
                let newEmpresaRowRef = tBodyEmpresa.insertRow(-1); 

                //En esta columna ira el boton editar
                let newEditarColRef = newEmpresaRowRef.insertCell(-1); //Crea una columna al final de la fila
                //En esta columna ira el codigo de la empresa
                let newCodEmpresaColRef = newEmpresaRowRef.insertCell(-1); //Crea una columna al final de la fila
                //En esta columna ira el nombre de la empresa
                let newNameEmpresaColRef = newEmpresaRowRef.insertCell(-1); //Crea una columna al final de la fila
                
                //En esta columna ira si es que la empresa esta activa o no 
                let newActivaEmpresaColRef = newEmpresaRowRef.insertCell(-1); //Crea una columna al final de la fila

                //Asigna los valores a cada columna

                //newEditarColRef.innerHTML = '<button type="button" onclick="loadEditPopupElement();" class="btn btn-primary pull-right"><i class="fas fa-edit"></i>Editar</button>';
                newEditarColRef.innerHTML = '<button type="button"  id=button-edit-'+i+' onClick="loadEditPopupElement(this.id);" class="btn btn-primary pull-right"><i class="fas fa-edit"></i> Editar</button>';
                newCodEmpresaColRef.textContent = cod_empre;
                newNameEmpresaColRef.textContent = name_empre;
                if(dataPage[i].activa){
                    newActivaEmpresaColRef.textContent = "Si"
                }else{
                    newActivaEmpresaColRef.textContent = "No"
                }
            }
        }

        //Data Page Si
        var dataPage = <%-JSON.stringify(dataPage)%>

        FillPageTableWithJSON(dataPage);

        //Cuando se haga click al boton agregar en nueva empresa
        document.getElementById("add-new-empresa-button").addEventListener('click',
            function () {
                document.querySelector(".bg-modal2").style.display = "flex";//En otras palabras activa el panel 
            });
        //Al hacer click en close2 se cerrara el modal2 y se vaciaran los campos que contiene este.
        document.querySelector(".close2").addEventListener("click",
            function () {
                document.querySelector('.bg-modal2').style.display = "none";
                document.getElementById('name_empresa_input_popup').value = "";
                document.getElementById('cod_empresa_input_popup').value = "";
                document.getElementById('activa_empresa_input_popup').selectedIndex = 0
            });





        //Cuando se haga click al boton-i esimo de editar --> Load Popup editar.
        function loadEditPopupElement(x1){
            var x2 = x1.split("-")//Split al id
            //document.getElementById("text-action-title-popup").innerHTML = "Editar Empresa"
            //document.getElementById("contentButton-addEmpresa-popup").innerHTML = '<i class="far fa-save"></i> Guardar Cambios'
            document.getElementById('edit_name_empresa_input_popup').value = dataPage[(parseInt(x2[2]))].nombre;
            document.getElementById('edit_cod_empresa_input_popup').value = dataPage[(parseInt(x2[2]))].codigo;
            //console.log(document.getElementById('edit_activa_empresa_input_popup'))
            if(dataPage[(parseInt(x2[2]))].activa){
                document.getElementById('edit_activa_empresa_input_popup').selectedIndex = 0;
            }else{
                document.getElementById('edit_activa_empresa_input_popup').selectedIndex = 1;
            }
            document.querySelector(".bg-modal").style.display = "flex";//En otras palabras activa el panel
        }
        
        //Al hacer click en close1 se cerrara el modal correspondiente a editar empresa.
        document.querySelector(".close").addEventListener("click",
        function () {
            document.querySelector('.bg-modal').style.display = "none";
        });
    </script>
</body>

</html>