<!DOCTYPE html>
<html>

<head>
    <title>Gestion de Usuarios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Sytlesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <!--Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d82979872c.js" crossorigin="anonymous"></script>
    <!-- Font Google 1 Squada One -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <section id="title">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/administrador">MainteanceWebPro - Admin </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/administrador">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestionar
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/admin-pautas-menu">Pautas</a></li>
                                <li><a class="dropdown-item" href="/admin-usuarios-menu">Usuarios</a></li>
                                <li><a class="dropdown-item" href="/admin-equipos-menu">Equipos</a></li>
                                <li><a class="dropdown-item" href="/admin-empresas-menu">Empresas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Cerrar Sesion</a>
                            <!-- Ademas se debe ejecutar el metodo para desconectar la sesion-->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Gestion Usuarios - Section -->
    <br>
    <section id="gestion-usuarios">
        <div class="container-fluid">
            <div class="row">
                <!-- Titulo  -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="top-pauta-info">
                        <h3>Usuarios</h3>
                    </div>
                </div>
                <!-- Boton Agregar Nuevo usuario -->
                <div class="col-lg-6 col-md-4 col-sm-6 text-right">
                    <div id="add-new-usuario-button" class="top-pauta-info">
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-plus"></i>
                            Agregar Nuevo Usuario
                        </button>
                    </div>
                </div>
                <!-- Tabla de usuarios -->
                <div class="col-12">
                    <div class="container-fluid">
                        <div class="row white-box-transparent">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="tabla-usuarios" class="table table-light table-bordered table-hover table-striped">
                                        <thead class="bg-dark text-white">
                                            <th scope="row">Editar</th>
                                            <th scope="row">RUT</th>
                                            <th scope="row">Nombre</th>
                                            <th scope="row">Correo</th>
                                            <th scope="row">Area Trabajo</th>
                                            <th scope="row">Activo</th>
                                            <!-- El estado representa si el usuario esta activo o no-->
                                        </thead>
                                        <tbody id="tbody-tabla-usuarios">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12 pagination-usuarios-admin-nav">
                                <nav aria-label="usuarios-nav-pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <-- </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#"> --> </a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Menu Options - Section -->

    <!-- Agregar nuevo usuario Form oculto -->
    <div class="bg-modal2">
        <div class="modal-content2">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <div id="text-action-title-popup">
                            Nuevo Usuario
                        </div>
                    </h3>
                </div>
                <div class="col-12">
                    <form action="/add-new-usuario-admin" method="post">
                        <div class="row">
                            <!-- Tipo de nuevo usuario (admin, mantenedor, planificador)-->
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Tipo Usuario</span>
                                    <select name="tipo_new_usuario" id="tipo_usuario_input_popup" onclick='revisarTipoNewUser();' class="form-select" aria-label="Estado activacion">
                                        <option >Administrador</option>
                                        <option >Planificador</option>
                                        <option >Mantenedor</option>
                                    </select>
                                </div>
                            </div>
                            <!-- RUT nuevo usuario -->
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">RUT</span>
                                    <input id=rut_usuario_input_popup name="code_new_usuario" type="text" class="form-control" placeholder="RUT usuario" aria-label="rut_usuario_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <!-- Nombre nuevo Usuario -->
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Nombre</span>
                                    <input id=nombre_usuario_input_popup name="nombre_new_usuario" type="text" class="form-control" placeholder="Nombre Usuario" aria-label="nombre_usuario_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <!-- Correo nuevo usuario -->
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Correo</span>
                                    <input id=correo_usuario_input_popup name="correo_new_usuario" type="email" class="form-control" placeholder="Correo usuario" aria-label="email_usuario_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <!-- Contraseña nuevo usuario -->
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Contraseña</span>
                                    <input id=password_usuario_input_popup name="password_new_usuario" type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña Usuario" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <!-- Estado nuevo usuario -->
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Estado</span>
                                    <select name="estado_new_usuario" id="estado_usuario_input_popup" class="form-select" aria-label="Estado activacion">
                                        <option selected>Activado</option>
                                        <option value="1">Desactivado</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Esto solo aparece si es un mantenedor y se tiene que seleccionar la empresa segun el nombre ? o codigo ?
                            Podemos organizar los datos como se ve abajo y mandar una string -->
                            <!-- Rol mantenedor -->
                            <div class="col-12">
                                <div class="new_user_rol_text input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Rol</span>
                                    <input id=rol_mantenedor_usuario_input_popup name="rol_mantenedor_new_usuario" type="text" class="form-control" placeholder="Rol Mantenedor" aria-label="Rol" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <!-- Empresa mantenedor -->
                            <div class="col-12">
                                <div class="new_user_empresa_select input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Empresa</span>
                                    <select id=empresa_mantenedor_usuario_input_popup name="empresa_mantenedor_new_usuario" id="empresa_mantenedor_usuario_input_popup" placeholder="Empresa Mantenedor" class="form-select" aria-label="Empresa">
                                        <!--    Codigo Empresa:Nombre Empresa  -->
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" id="add-usuario-button-popup" class="btn btn-primary">
                                <i class="fas fa-plus"></i>
                                Agregar Usuario
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="close2">+</div>
        </div>
    </div>

    <!-- Editar usuario Form oculto -->
    <div class="bg-modal">
        <div class="modal-content">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <div id="text-action-title-popup">
                            Editar Usuario
                        </div>
                    </h3>
                </div>
                <div class="col-12">
                    <div class="col-12">
                        <form action="/edit-usuario-admin" method="post">
                            <div class="row">
                                <!-- Tipo de nuevo usuario (admin, mantenedor, planificador)-->
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Tipo Usuario</span>
                                        <input id=edit_tipo_usuario_input_popup name="tipo_editar_usuario" type="text" class="form-control" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <!-- RUT nuevo usuario -->
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">RUT</span>
                                        <input id=edit_rut_usuario_input_popup name="code_editar_usuario" type="text" class="form-control" placeholder="RUT usuario" aria-label="rut_usuario_add" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <!-- Nombre nuevo Usuario -->
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Nombre</span>
                                        <input id=edit_nombre_usuario_input_popup name="nombre_editar_usuario" type="text" class="form-control" placeholder="Nombre Usuario" aria-label="nombre_usuario_add" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <!-- Correo nuevo usuario -->
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Correo</span>
                                        <input id=edit_correo_usuario_input_popup name="correo_editar_usuario" type="email" class="form-control" placeholder="Correo usuario" aria-label="email_usuario_add" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <!-- Contraseña nuevo usuario -->
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Contraseña</span>
                                        <input id=edit_password_usuario_input_popup name="password_editar_usuario" type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña Usuario" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <!-- Estado nuevo usuario -->
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Estado</span>
                                        <select name="estado_editar_usuario" id="edit_estado_usuario_input_popup" class="form-select" aria-label="Estado activacion">
                                            <option >Activado</option>
                                            <option value="1">Desactivado</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Esto solo aparece si es un mantenedor y se tiene que seleccionar la empresa segun el nombre ? o codigo ?
                                Podemos organizar los datos como se ve abajo y mandar una string -->
                                <!-- Rol mantenedor -->
                                <div class="col-12">
                                    <div class="edit_user_rol_text input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Rol</span>
                                        <input id=edit_rol_mantenedor_usuario_input_popup name="rol_mantenedor_editar_usuario" type="text" class="form-control" placeholder="Rol Mantenedor" aria-label="Rol" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <!-- Empresa mantenedor -->
                                <div class="col-12">
                                    <div class="edit_user_empresa_select input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Empresa</span>
                                        <select name="empresa_mantenedor_editar_usuario" id="edit_empresa_mantenedor_usuario_input_popup" placeholder="Empresa Mantenedor" class="form-select" aria-label="Empresa">
                                            <!--    Codigo Empresa:Nombre Empresa  -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" id="editar-submit-usuario-button-popup" class="btn btn-primary">
                                    <i class="far fa-save"></i> 
                                    Guardar Cambios
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="close">+</div>
        </div>
    </div>
    <script>
        //Los datos que se tienen que entregar a esta pagina son
        // Una lista completa de los usuarios que existen
        // El usuario que esta trabajando
        // y Una lista completa de las empresas activas

        const usuarios = <%-JSON.stringify(usuarios)%>;
        const empresas = <%-JSON.stringify(empresas)%>;
        const mantenedores = <%-JSON.stringify(mantenedores)%>;

        function FillPageWithUsers(usuarios) {
            let tBodyUsuarios = document.getElementById("tbody-tabla-usuarios"); //Obten la tabla

            for (let i = 0; i < usuarios.length; i++) {
                //Extraemos las variables

                const rutUserI = usuarios[i].rut;
                const emailUserI = usuarios[i].email;
                const nombreUserI = usuarios[i].nombre;
                const activoUserI = usuarios[i].activo;
                const workAreaUserI = usuarios[i].tipo;

                //Inserta una nueva fila en la tabla 
                let newUserIRowRef = tBodyUsuarios.insertRow(-1);
                //Crea celdas o columna para la I-esima columna, esto hace referencia a boton editar
                let newEditarColRef = newUserIRowRef.insertCell(-1);

                //Crea celdas o columna para la I-esima columna, esto hace referencia a
                let newRutColRef = newUserIRowRef.insertCell(-1);

                //Crea celdas o columna para la I-esima columna, esto hace referencia a
                let newNombreColRef = newUserIRowRef.insertCell(-1);

                //Crea celdas o columna para la I-esima columna, esto hace referencia a
                let newCorreoColRef = newUserIRowRef.insertCell(-1);

                //Crea celdas o columna para la I-esima columna, esto hace referencia a
                let newWorkAreaColRef = newUserIRowRef.insertCell(-1);

                //Crea celdas o columna para la I-esima columna, esto hace referencia a
                let newActivoColRef = newUserIRowRef.insertCell(-1);


                //Asigna los valores a cada columna
                newEditarColRef.innerHTML = '<button type="button"  id=button-edit-' + i + ' onClick="loadEditPopupElement(this.id);" class="btn btn-primary pull-right"><i class="fas fa-edit"></i> Editar</button>';
                newRutColRef.textContent = rutUserI;
                newNombreColRef.textContent = nombreUserI;
                newCorreoColRef.textContent = emailUserI;
                newWorkAreaColRef.textContent = workAreaUserI;

                if (usuarios[i].activo == "Activado") {
                    newActivoColRef.textContent = "Si"
                } else {
                    newActivoColRef.textContent = "No"
                }
            }

            //Empresas
            let selectAddEmpresa = document.getElementById("empresa_mantenedor_usuario_input_popup"); //Agregar select 
            for (let i = 0; i < empresas.length; i++) {
                const cod_empre = empresas[i].codigo;
                const name_empre = empresas[i].nombre;
                let option = document.createElement("option");
                option.text = cod_empre;
                selectAddEmpresa.add(option);
            }

        }

        FillPageWithUsers(usuarios);

        function revisarTipoNewUser() {
            if (document.getElementById('tipo_usuario_input_popup').value == "Mantenedor") {
                document.querySelector('.new_user_empresa_select').style.display = "flex";
                document.querySelector('.new_user_rol_text').style.display = "flex"
            } else {
                document.querySelector('.new_user_empresa_select').style.display = "none";
                document.querySelector('.new_user_rol_text').style.display = "none"
            }
        }


        //AL hacer click en la X desactiva el panel y vacia sus campos
        document.querySelector(".close").addEventListener("click",
            function() {
                document.querySelector('.bg-modal').style.display = "none"; //Desactiva el panel y vacia los campos
            });

        function getMantenedorInfo(rut) {
            for (let i = 0; i < mantenedores.length; i++) {
                if (mantenedores[i].rut == rut) {
                    return mantenedores[i];
                }
            }
            return none;
        }

        function getIEmpresa(codigo) {
            for (let i = 0; i < empresas.length; i++) {
                if (empresas[i].codigo == codigo) {
                    return i;
                }
            }
            return -1;
        }

        //Cuando se haga click al boton-i esimo de editar --> Load Popup editar.
        function loadEditPopupElement(x1) {
            var x2 = x1.split("-") //Split al id
                //Carguemos las empresas primero.
            let selectAddEmpresa = document.getElementById("edit_empresa_mantenedor_usuario_input_popup"); //Agregar select 
            for (let i = 0; i < empresas.length; i++) {
                const cod_empre = empresas[i].codigo;
                const name_empre = empresas[i].nombre;
                let option = document.createElement("option");
                option.text = cod_empre;
                selectAddEmpresa.add(option);
            }

            document.getElementById('edit_tipo_usuario_input_popup').value = usuarios[(parseInt(x2[2]))].tipo;
            if (usuarios[(parseInt(x2[2]))].tipo == "Mantenedor") {
                const mantInfo = getMantenedorInfo(usuarios[(parseInt(x2[2]))].rut); //Obten la informacion del mantenedor
                //Se tiene que mostrar lo siguiente
                document.querySelector(".edit_user_empresa_select").style.display = "flex"; //En otras palabras activa el panel
                document.querySelector(".edit_user_rol_text").style.display = "flex"; //En otras palabras activa el panel
                //Rellenar los datos de esa zona
                document.getElementById('edit_rol_mantenedor_usuario_input_popup').value = mantInfo.rol;
                //Tienes que cargar la empresa del mantenedor, segun el indice 
                console.log("Mostrando que informacion tiene el EDIT_EMPRESA_MANTENEDOR_USUARIO_INPUT_POPUP")
                console.log(document.getElementById('edit_empresa_mantenedor_usuario_input_popup'))
                    //document.getElementById('edit_empresa_mantenedor_usuario_input_popup').selectedIndex =  
                document.getElementById('edit_empresa_mantenedor_usuario_input_popup').selectedIndex = getIEmpresa(mantInfo.empresa);
            }
            console.log(usuarios[(parseInt(x2[2]))])
            document.getElementById('edit_rut_usuario_input_popup').value = usuarios[(parseInt(x2[2]))].rut;
            document.getElementById('edit_nombre_usuario_input_popup').value = usuarios[(parseInt(x2[2]))].nombre;
            document.getElementById('edit_correo_usuario_input_popup').value = usuarios[(parseInt(x2[2]))].email;
            document.getElementById('edit_password_usuario_input_popup').value = ""; //Si el backend recibe un "", no se quiere y no se debe cambiar la contraseña.
            if (usuarios[(parseInt(x2[2]))].activo == 'Activado') {
                document.getElementById('edit_estado_usuario_input_popup').selectedIndex = 0
            } else {
                document.getElementById('edit_estado_usuario_input_popup').selectedIndex = 1
            }
            document.querySelector(".bg-modal").style.display = "flex"; //En otras palabras activa el panel
        }

        //Al hacer click en el boton agregar nuevo usuario muestra el panel oculto
        document.getElementById("add-new-usuario-button").addEventListener('click',
            function() {
                document.querySelector(".bg-modal2").style.display = "flex"; //En otras palabras activa el panel 
                console.log(document.getElementById('tipo_usuario_input_popup'));
            });
        //AL hacer click en la X desactiva el panel y vacia sus campos
        document.querySelector(".close2").addEventListener("click",
            function() {
                document.querySelector('.bg-modal2').style.display = "none"; //Desactiva el panel y vacia los campos
                document.getElementById("tipo_usuario_input_popup").selectedIndex = 0 //Setea como admin 
                document.getElementById("rut_usuario_input_popup").value = ""
                document.getElementById("nombre_usuario_input_popup").value = ""
                document.getElementById("correo_usuario_input_popup").value = ""
                document.getElementById("password_usuario_input_popup").value = ""
                document.getElementById("estado_usuario_input_popup").selectedIndex = 0; //Setea como activo
                document.querySelector('.new_user_empresa_select').style.display = "none";
                document.querySelector('.new_user_rol_text').style.display = "none"
                document.getElementById("empresa_mantenedor_usuario_input_popup").selectedIndex = 0 //Setea empresa como 0 
            });
    </script>
</body>

</html>