<!DOCTYPE html>
<html>

<head>
    <title>Rellenar Ficha Matencion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Sytlesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <!--Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d82979872c.js" crossorigin="anonymous"></script>
    <!-- Font Google 1 Squada One -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <section id="title">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/mtn">Mantenedor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/mtn">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Cerrar Sesion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Menu Mantenedor -->
    <section id="content">
        <div class="container-fluid">
            <div class="fichaAtencion text-white">
                <h2>Ficha Atencion</h2>
            </div>
            <form id=formMainteance method=POST action='/send-data-of-mainteance'>
                <div class="row white-box-transparent">
                    <!-- Informacion de la Pauta -->
                    <div class='col-12'>
                        <div class=row>
                            <div class="col-md-6 col-sm-12">
                                <!-- Mantencion (literal) -->
                                <!-- Codigo Mantencion-->
                                <div class="input-group mb-4">
                                    <span class="input-group-text">Mantencion</span>
                                    <input type="text" name=codigoPauta id=mant-code-pauta class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <!-- Nombre Pauta (literal) -->
                                <!-- NOMBRE PAUTA -->
                                <div class="input-group mb-4">
                                    <span class="input-group-text">Nombre Pauta</span>
                                    <input type="text" id=name-pauta name=nombrePauta class="form-control" placeholder="Nombre Pauta" value="Mantencion Motocierras" readonly>
                                </div>
                            </div>


                            <!-- Falta todo de aqui para abajo -->

                            <!-- ==================================== -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <!-- Nombre Tecnico -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Nombre Tecnico</span>
                                    <input type="text" id=tec-name-pauta name=nombreTecnicoPauta class="form-control" placeholder="Nombre Tecnico" readonly>
                                    <input type='hidden' id=rutMantenedor name=rutTecnicoPauta>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <!-- Turno -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Turno</span>
                                    <select class="form-select" name='turnoPauta'>
                                        <option> TA: 8:00 - 20:00 </option>
                                        <option> TB: 20:00 - 8:00 </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <!-- Tipo Actividad -->
                                <div class=row>
                                    <div class=col-sm-12>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Tipo Actividad</span>
                                            <select class="form-select" name='tipoActividadPauta'>
                                                <option> Mantenimiento Planificado </option>
                                                <option> Mantenimiento Correctivo </option>
                                                <option> Instalacion </option>
                                                <option> Desinstalacion </option>
                                                <option> Inspeccion </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ==================================== -->

                            <!-- ==================================== -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- Nombre Equipo -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Nombre Equipo</span>
                                    <input id=name-equipo-pauta type="text" class="form-control" placeholder="Nombre Equipo" name=nombreEquipoPauta readonly>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- Codigo Equipo -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Codigo Equipo</span>
                                    <input id=code-equipo-pauta type="text" class="form-control" placeholder="Codigo Equipo" name=codigoEquipoPauta readonly>
                                </div>
                            </div>
                            <!-- ==================================== -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- Fecha calendarizada -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Fecha Calendarizada</span>
                                    <input id=date-cal-pauta type="text" class="form-control" placeholder="01-01-1999" name=fechaCalendarizadaPauta readonly>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- Fecha de hoy -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Fecha Realizada</span>
                                    <input id=date-rea-pauta type="text" class="form-control" placeholder="01-01-1999" name=fechaRealizadaPauta readonly>
                                </div>
                            </div>
                            <!-- ==================================== -->

                            <!-- ==================================== -->
                            <div class="col-12">
                                <!-- Diagnostico Inicial -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Diagnostico Inicial</span>
                                    <input type="text" class="form-control" placeholder="Diagnostico Inicial" name=diagnosticoPauta>
                                </div>
                            </div>
                            <!-- ==================================== -->

                            <!-- ==================================== -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- Supervisor Empresa -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Supervisor Empresa</span>
                                    <input type="text" class="form-control" placeholder="Supervisor Empresa" name=supervisorEmpresaPauta>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- Supervisor Mandante -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Supervisor Mandante</span>
                                    <input type="text" class="form-control" placeholder="Supervisor Mandante" name=supervisorMandantePauta>
                                </div>
                            </div>
                            <!-- ==================================== -->
                        </div>
                    </div>
                    <!-- Tabla items -->
                    <div class='col-12'>
                        <div class="table-responsive">
                            <table class="table table-light table-bordered table-hover table-striped">
                                <thead class="bg-dark text-white ">
                                    <th style="width: 150px;" scope="row">Item</th>
                                    <th style="width: 150px;" scope="row">Subitem</th>
                                    <th style="width: 50px;" scope="row">Estado Recibido</th>
                                    <th style="width: 50px;" scope="row">Estado Entrega</th>
                                    <th style="width: 150px;" scope="row">Observacion Detalles</th>
                                </thead>
                                <tbody id="tbody-items">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- ==================================== -->
                    <div class="col-12">
                        <!-- Observacion General -->
                        <div class="input-group mb-3">
                            <span class="input-group-text">Observacion General</span>
                            <input type="text" class="form-control" placeholder="Observacion General" name=obsGeneralPauta>
                        </div>
                    </div>
                    <div class="col-6 ">
                        <button type="button" onclick="sendData();" class="btn btn-lg btn-primary">
                            Enviar
                        </button>
                    </div>
                    <div class="col-6 ">
                        <a href="/mtn" class="btn btn-warning btn-lg">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script>
        const pautaInfo = <%- JSON.stringify(pautaInfo) %>;
        const itemsInfo = <%- JSON.stringify(itemsPauta) %>;

        const tbodyItems = document.getElementById('tbody-items')

        function insertItemRow(item) {
            const rowRef = tbodyItems.insertRow(-1)
            const itemCell = rowRef.insertCell(-1) //Columna 0 es el item info
            itemCell.textContent = item.item;
            for (let i = 0; i < 4; i++) { //Columna 1 - 4 vacio
                const emptyCell = rowRef.insertCell(-1)
                emptyCell.textContent = "";

            }
        }
        /* Esta funcion no, kaka ta mala 

        function insertSubitemRow(item, i){
            const rowRef = tbodyItems.insertRow(-1)
            const emptyCell = rowRef.insertCell(-1)//La primera columna de la fila es vacia.
            emptyCell.textContent = "";
            const subitemCell = rowRef.insertCell(-1)//La segunda columna de la fila es el subitem
            subitemCell.textContent = item.subitem;

            //La tercera columna de la fila es estado recibido
            const estRecCell = rowRef.insertCell(-1)
            estRecCell.innerHTML = '<input name="codigo_subitem_'+i+'" value='+item.codigo_subitem+' type=hidden ><div class="input-group mb-3"><select name="estadoRecibidoSubitem_'+i+'" class="form-select" ><option> Funcional </option><option> No Funcional </option><option> Roto </option><option> NA </option></select></div>'
            //La cuarta columna de la fila es estado entrega
            const estEntCell = rowRef.insertCell(-1)
            estEntCell.innerHTML = '<div class="input-group mb-3"> <select name="estadoEntregadoSubitem_'+i+'" class="form-select" > <option> Funcional </option> <option> No Funcional </option><option> Roto </option> <option> NA </option> </select> </div>'
            //la quinta columna de la fila es observacion detalles 
            const obsCell = rowRef.insertCell(-1)
            obsCell.innerHTML = '<div class="input-group mb-3"><input name="observacionIPauta_'+i+'" type="text" class="form-control" placeholder="Observacion" ></div>'
        }   */

        function insertSubitemRow(item, i) {
            const rowRef = tbodyItems.insertRow(-1)
            const emptyCell = rowRef.insertCell(-1) //La primera columna de la fila es vacia.
            emptyCell.textContent = "";
            const subitemCell = rowRef.insertCell(-1) //La segunda columna de la fila es el subitem
            subitemCell.textContent = item.subitem;

            //La tercera columna de la fila es estado recibido
            const estRecCell = rowRef.insertCell(-1)
            estRecCell.innerHTML = '<input name="codigo_subitem" value=' + item.codigo_subitem + ' type=hidden ><div class="input-group mb-3"><select name="estadoRecibidoSubitem" class="form-select" ><option> Funcional </option><option> No Funcional </option><option> Roto </option><option> NA </option></select></div>'
                //La cuarta columna de la fila es estado entrega
            const estEntCell = rowRef.insertCell(-1)
            estEntCell.innerHTML = '<div class="input-group mb-3"> <select name="estadoEntregadoSubitem" class="form-select" > <option> Funcional </option> <option> No Funcional </option><option> Roto </option> <option> NA </option> </select> </div>'
                //la quinta columna de la fila es observacion detalles 
            const obsCell = rowRef.insertCell(-1)
            obsCell.innerHTML = '<div class="input-group mb-3"><input name="observacionIPauta" type="text" class="form-control" placeholder="Observacion" ></div>'
        }

        function fillPage(data) {
            //Pauta info 
            //console.log(data)
            document.getElementById('mant-code-pauta').value = data.codigo_mantencion
            document.getElementById('name-pauta').value = data.nombre_pauta
            document.getElementById('tec-name-pauta').value = data.nombre_tecnico
            document.getElementById('name-equipo-pauta').value = data.nombre_equipo
            document.getElementById('code-equipo-pauta').value = data.codigo_equipo
            document.getElementById('date-cal-pauta').value = new Date(data.fecha_calendarizada).toLocaleDateString()
            document.getElementById('date-rea-pauta').value = new Date(Date.now()).toLocaleDateString()
            document.getElementById('rutMantenedor').value = data.rut_tecnico

        }

        function fillItems(items) {
            //Items ahora
            console.log(items)
            let beforeItem = null;
            for (let i = 0; i < items.length; i++) {
                if (i == 0) {
                    insertItemRow(items[i])
                    beforeItem = items[i]
                } else {
                    if (beforeItem.codigo_item == items[i].codigo_item) { //Si el codigo del item anterior es igual, se inserta un subitem
                        insertSubitemRow(items[i], i)
                    } else { //Si no se debe insertar un item
                        insertItemRow(items[i])
                    }
                    beforeItem = items[i] //Se actualiza el item ese
                }
            }
        }

        fillPage(pautaInfo[0]);
        fillItems(itemsInfo);


        function sendData() {
            document.getElementById('formMainteance').submit()
        }
    </script>
</body>

</html>