<tr>
    <td>Item 1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>Subitem 1</td>
    <td>
        
    </td>
    <td>
        <div class="input-group mb-3">
            <select class="form-select" >
                <option> Funcional </option>
                <option> No Funcional </option>
                <option> Roto </option>
                <option> NA </option>
            </select>
        </div>
    </td>
    <td>
        <div class="input-group mb-3">
            <input id= type="text" class="form-control" placeholder="Observacion" name=observacionIPauta>
        </div>
    </td>
</tr>
<tr>
    <td></td>
    <td>Subitem 2</td>
    <td>
        <div class="input-group mb-3">
            <select class="form-select" aria-label="Default select example">
                <option> Funcional </option>
                <option> No Funcional </option>
                <option> Roto </option>
                <option> NA </option>
            </select>
        </div>
    </td>
    <td>
        <div class="input-group mb-3">
            <select class="form-select" aria-label="Default select example">
                <option> Funcional </option>
                <option> No Funcional </option>
                <option> Roto </option>
                <option> NA </option>
            </select>
        </div>
    </td>
    <td>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </td>
</tr>
<tr>
    <td></td>
    <td>Subitem 3 </td>
    <td>
        <div class="input-group mb-3">
            <select class="form-select" aria-label="Default select example">
                <option> Funcional </option>
                <option> No Funcional </option>
                <option> Roto </option>
                <option> NA </option>
            </select>
        </div>
    </td>
    <td>
        <div class="input-group mb-3">
            <select class="form-select" aria-label="Default select example">
                <option> Funcional </option>
                <option> No Funcional </option>
                <option> Roto </option>
                <option> NA </option>
            </select>
        </div>
    </td>
    <td>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </td>
</tr>