html,
body {
  height: 100%;
}

body{
  background-color: cornsilk;
}

.login-space {
  padding-top: 5%;
  height: 300px;
  width: 400px;
  text-align: center;
}



.ico-user-login-space {
  padding-bottom: 10px;
  text-align: center;
}

.name-viewer-home {
  padding: 3%;
  font-size: 10px;
}

.menu-options-admin {
  font-size: 100px;
}

