html,
body {
  height: 100%;
}

body{
  background-image: url("http://img.interempresas.net/fotos/1307483.jpeg"); 
  
  /* Full height */
  height: 100%;
  bottom: 0px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-space {
  padding-top: 5%;
  height: 300px;
  width: 400px;
  text-align: center;
}

.ico-user-login-space {
  padding-bottom: 10px;
  text-align: center;
}

.name-viewer-home {
  padding: 3%;
  font-size: 10px;
}

.menu-options-admin {
  font-size: 100px;
}

.white-box-transparent {
  border-radius: 1%;
  margin: 0%;
  padding: 2%;
  background: rgba(245, 245, 245, 0.73);
}

.top-pauta-info {
  padding:0%;
  margin-bottom: 15px;
}

.top-pauta-info h3{
  font-family: 'Squada One', cursive;
  color: white;
}

.table-responsive {
  margin-bottom: 5%;
}

/* Agregar pautas - admin  */

.top-pauta-info-add {
  font-family: 'Squada One', cursive;
  color: white;
}

.gray-box {
  margin: 5%;
  padding: 5%;
  background-color: darkgray;
}

.button-edit-pauta {
  margin-bottom: 15px;
}

.button-warning-collapse {
  margin-bottom: 5%;
}

.collapse-delete-size {
  margin: 0%;
  margin-bottom: 15px;
  padding: 3%;
}

