html,
body {
  height: 100%;
}

body{
  background-color: dodgerblue;
}

.login-space {
  padding-top: 5%;
  height: 300px;
  width: 400px;
  text-align: center;
}

.login-space-item {
  margin-bottom: 15px;
}

.ico-user-login-space {
  padding-bottom: 10px;
  font-size: 50px;
  text-align: center;
}